<div id="main_menu_container">
  <nav id="main_menu">
    <h1><a href="{{ site.baseurl }}/">meltedlilacs</a></h1>
    <ul>
      <li><a href="{{ site.baseurl }}/erie/">The Difficulties at Erie</a>
        <ul>
          <li><a href="{{ site.baseurl}}/erie/index.html">Overview</a></li>
          <li><a href="{{ site.baseurl}}/erie/timeline.html">Timeline</a></li>
          <!-- <li><a href="{{ site.baseurl}}/erie/media.html">Media</a></li> -->
          <li><a href="{{ site.baseurl}}/erie/references.html">References</a></li>
        </ul>
      </li>
      <!-- <li><a href="https://dx.doi.org/10.2139/ssrn.5339663" target="_blank">Barriers to Electric Vehicle Home Charging and Impacts on Adoption</a></li> -->
      <li><a href="https://dx.doi.org/10.2139/ssrn.5339663" target="_blank">EV Home Charging</a></li>
      <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </nav>
</div>
