* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #f5efff;
}
html {
  font-family: 'Alice', serif;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Playfair Display', serif;
}
blockquote,
pre {
  padding: 1em;
  margin: 1em 0;
  border-left: 0.5em solid #86608e;
  background: #ddd;
}
blockquote *:first-child,
pre *:first-child {
  margin-top: 0;
}
blockquote *:last-child,
pre *:last-child {
  margin-bottom: 0;
}
#main_menu_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#main_menu {
  height: 100%;
  padding: 0;
  max-width: 48em;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
#main_menu a {
  text-decoration: none;
  color: #222;
}
#main_menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main_menu ul li {
  margin: 0;
  padding: 0;
}
#main_menu ul li a {
  display: block;
  padding: 0.25em;
  padding-left: 1.5em;
  width: 11em;
  transition: 0.25s;
}
#main_menu ul li a:before {
  content: "❧";
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-left: -1em;
  transition: 0.25s;
}
#main_menu ul li a:hover:before {
  opacity: 1;
}
#main_menu h1 {
  font-size: 1.25em;
  margin: 0;
}
#main_menu h1 a {
  display: block;
  width: 8.8em;
  padding: 1em 0 0.5em 1.4em;
  transition: 0.25s;
}
#main_menu h1 a:before {
  content: "❧";
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-left: -1em;
  transition: 0.25s;
}
#main_menu h1 a:hover:before {
  opacity: 1;
}
#content_container {
  max-width: 48em;
  margin: 0 auto;
  padding-left: 12em;
}
#content {
  position: relative;
  z-index: 1;
}
#content article {
  text-align: justify;
  padding: 1em 1em 0 1em;
}
#content article:last-child {
  padding-bottom: 1em;
}
#content article h2 {
  margin: 0;
}
#content article h2 a {
  text-decoration: none;
  color: #222;
  transition: 0.25s;
}
#content article h2 a:before {
  content: "❧";
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-left: -1em;
  transition: 0.25s;
}
#content article h2 a:hover:before {
  opacity: 1;
}
#content article a {
  color: #86608e;
}
