html
  font-family 'Alice', serif
h1, h2, h3, h4, h5, h6, nav
  font-family 'Playfair Display', serif

#main_menu
  background #C8A2C8
  position fixed
  top 0
  left 0
  width 200px
  height 100%
  padding 1em
  border-right 0.5em solid #86608E
  #logo
    img
      width 100%
      border-radius 100%
      transition 0.25s
    &:hover img
      filter sepia(75%)
  a
    text-decoration none
    color black
  ul
    margin 0
    padding 0
    list-style-type none
  h1
    font-size 1.75em
