* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #f5efff;
}
html {
  font-family: 'Alice', serif;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Playfair Display', serif;
}
#main_menu {
  background: #c8a2c8;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 12em;
  height: 100%;
  padding: 1em;
  border-right: 0.5em solid #86608e;
  box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.26);
}
#main_menu #logo img {
  width: 100%;
  border-radius: 100%;
  transition: 0.25s;
}
#main_menu #logo:hover img {
  filter: sepia(75%);
}
#main_menu a {
  text-decoration: none;
  color: #222;
}
#main_menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main_menu ul li {
  margin: 0;
  padding: 0;
}
#main_menu ul li a {
  display: block;
  padding: 0.25em;
  width: 11em;
  transition: 0.25s;
}
#main_menu ul li a:before {
  content: "❧";
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-left: -1em;
  transition: 0.25s;
}
#main_menu ul li a:hover {
  background: #86608e;
  padding-left: 1.5em;
}
#main_menu ul li a:hover:before {
  opacity: 1;
}
#main_menu h1 {
  font-size: 1.25em;
  margin: 0;
}
#main_menu h1 a {
  display: block;
  width: 8.8em;
  padding: 0.5em 0;
  transition: 0.25s;
}
#main_menu h1 a:before {
  content: "❧";
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-left: -1em;
  transition: 0.25s;
}
#main_menu h1 a:hover {
  padding-left: 1.4em;
}
#main_menu h1 a:hover:before {
  opacity: 1;
}
#content {
  margin-left: 12em;
  padding: 1em;
  background: #f5efff;
}
#content:after {
  content: url("../media/fuzz.jpg");
  display: block;
  width: 1000px;
  height: 1000px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#content article {
  position: relative;
  z-index: 1;
  text-align: justify;
  max-width: 36em;
  padding: 1em;
  margin: 0 auto 1em auto;
  border-top: 0.25em solid #c8a2c8;
  background: #ddd;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.26);
}
#content article:last-child {
  margin-bottom: 0;
}
#content article h2 {
  margin: 0;
}
#content article h2 a {
  text-decoration: none;
  color: #222;
  transition: 0.25s;
}
#content article h2 a:before {
  content: "❧";
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-left: -1em;
  transition: 0.25s;
}
#content article h2 a:hover {
  padding-left: 1em;
}
#content article h2 a:hover:before {
  opacity: 1;
}
#content article a {
  color: #777;
}
