light_lilac = #C8A2C8
dark_lilac  = #86608E

*
  box-sizing border-box
html, body
  margin 0
  padding 0

html
  font-family 'Alice', serif
h1, h2, h3, h4, h5, h6, nav
  font-family 'Playfair Display', serif

#main_menu
  background light_lilac
  position fixed
  top 0
  left 0
  width 12em
  height 100%
  padding 1em
  border-right 0.5em solid dark_lilac
  box-shadow 1px 0px 1px 0px rgba(0, 0, 0, 0.26)
  #logo
    img
      width 100%
      border-radius 100%
      transition 0.25s
    &:hover img
      filter sepia(75%)
  a
    text-decoration none
    color black
  ul
    margin 0
    padding 0
    list-style-type none
    li
      margin 0
      padding 0
      a
        display block
        padding 0.25em
        width 9.5em
        transition 0.25s
        &:hover
          background dark_lilac
        &:after
          content ""
          display block
          position relative
          float right
          right -1.5em
          top -0.25em
          width 1.5em
          height 0.25em
          transition 0.25s
        &:hover:after
          background dark_lilac
  h1
    font-size 1.25em

#content
  margin-left 12em
  padding 1em
  background url("http://gabriel-damon.com/img/site/circuit.png")
  article
    padding 1em
    margin-bottom 1em
    border-top 0.25em solid light_lilac
    background #DDD
    box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.26)
    h2
      margin 0

